span.field-validation-error {
    font-weight: bold;
    color: red;
}

body {
    padding-top: 90px;
    padding-bottom: 20px;   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.voffset {
    margin-top: 30px;
}

/*Bootstrap override*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control {
    border-radius: 9px;
}

.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(204, 31, 30, 0.69);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.dropdown-menu {
    box-shadow: none;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
}

/*  */

.following {
    list-style: none;
}

.following > li {
    
}

.gigs {
    list-style: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

    .gigs > li .details {
        position: absolute;
        top: 0;
        left: 70px;
        width: 145px;
    }
        .gigs > li .details .artist {
            font-weight: bold;
            display: block;
        }

        .gigs > li .details .genre {
            font-size: 14px;
        }

    .gigs > li .date {
        background-color: red;
        color: white;
        width: 60px;
        height: 65px;
        text-align: center;
        -ms-border-radius: 10px;
        border-radius: 10px;
    }

        .gigs > li .date .month {
            text-transform: uppercase;
            font-weight: bold;
            padding: 2px 6px;
            font-size: 14px;
        }

        .gigs > li .date .day {
            font-size: 18px;
            background-color: #EAEAEA;
            color: #333;
            height: 42px;
            padding: 5px 10px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

.btn {
    -ms-border-radius: 9px;
    border-radius: 9px;
}

button {
    margin-top: -7px;
}

.gigs > li .actions {
    display: none;
}

    .gigs > li:hover .actions {
        display: block;
    }